@font-face {
	font-family: BentonSans;
	src: url(/elements/font/BentonSans/BentonSans_Regular/268c299c-a085-404b-b451-9a15c3db3aa2-2.eot);
	src: url(/elements/font/BentonSans/BentonSans_Regular/268c299c-a085-404b-b451-9a15c3db3aa2-2.eot?#iefix) format("embedded-opentype"),
	url(/elements/font/BentonSans/BentonSans_Regular/268c299c-a085-404b-b451-9a15c3db3aa2-3.woff) format("woff"),
	url(/elements/font/BentonSans/BentonSans_Regular/268c299c-a085-404b-b451-9a15c3db3aa2-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BentonSansLight;
	src: url(/elements/font/BentonSans/BentonSans_Light/9d0716c6-f50f-406d-aecc-be845e1f1a84-2.eot);
	src: url(/elements/font/BentonSans/BentonSans_Light/9d0716c6-f50f-406d-aecc-be845e1f1a84-2.eot?#iefix) format("embedded-opentype"),
	url(/elements/font/BentonSans/BentonSans_Light/9d0716c6-f50f-406d-aecc-be845e1f1a84-3.woff) format("woff"),
	url(/elements/font/BentonSans/BentonSans_Light/9d0716c6-f50f-406d-aecc-be845e1f1a84-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BentonSansMedium;
	src: url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-2.eot);
	src: url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-2.eot?#iefix) format("embedded-opentype"),
	url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-3.woff) format("woff"),
	url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BentonSansBold;
	src: url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-2.eot);
	src: url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-2.eot?#iefix) format("embedded-opentype"),
	url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-3.woff) format("woff"),
	url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-1.ttf) format("truetype");
	font-weight: bold;
}

// this is a duplicate of `BentonSansMedium` 
// so that inline styles like <p style="font-weight: bold">bold</p>
// renders the bold font `BentonSansMedium`
@font-face {
	font-family: BentonSansBook;
	src: url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-2.eot);
	src: url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-2.eot?#iefix) format("embedded-opentype"),
	url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-3.woff) format("woff"),
	url(/elements/font/BentonSans/BentonSans_Medium/7a35e3f2-b3c2-43d5-8ab9-4955c714d8ff-1.ttf) format("truetype");
	font-style: bold;
	font-weight: bold;
}

@font-face {
	font-family: BentonSansBook;
	src: url(/elements/font/BentonSans/BentonSans_Book/632b3f83-71b9-438e-a121-f1e048d5faf3-2.eot);
	src: url(/elements/font/BentonSans/BentonSans_Book/632b3f83-71b9-438e-a121-f1e048d5faf3-2.eot?#iefix) format("embedded-opentype"),
	url(/elements/font/BentonSans/BentonSans_Book/632b3f83-71b9-438e-a121-f1e048d5faf3-3.woff) format("woff"),
	url(/elements/font/BentonSans/BentonSans_Book/632b3f83-71b9-438e-a121-f1e048d5faf3-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BentonSansComp;
	src: url(/elements/font/BentonSans/BentonSansComp_Regular/b03d1cbf-d650-4fea-8481-e1ef10e47846-2.eot);
	src: url(/elements/font/BentonSans/BentonSansComp_Regular/b03d1cbf-d650-4fea-8481-e1ef10e47846-4.svg) format('svg'),
	url(/elements/font/BentonSans/BentonSansComp_Regular/b03d1cbf-d650-4fea-8481-e1ef10e47846-3.woff) format("woff"),
	url(/elements/font/BentonSans/BentonSansComp_Regular/b03d1cbf-d650-4fea-8481-e1ef10e47846-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BentonSansCompMedium;
	src: url(/elements/font/BentonSans/BentonSansComp_Medium/1a316a46-aa5e-47a9-961a-598dfc352715-2.eot);
	src: url(/elements/font/BentonSans/BentonSansComp_Medium/1a316a46-aa5e-47a9-961a-598dfc352715-4.svg) format('svg'),
	url(/elements/font/BentonSans/BentonSansComp_Medium/1a316a46-aa5e-47a9-961a-598dfc352715-3.woff) format("woff"),
	url(/elements/font/BentonSans/BentonSansComp_Medium/1a316a46-aa5e-47a9-961a-598dfc352715-1.ttf) format("truetype");
	font-style: normal;
	font-weight: bold; //Added so WCAG will read the font as bold
}

@font-face {
	font-family: BentonSansExtraCompMedium;
	src: url(/elements/font/BentonSans/BentonSansExtraComp_Medium/7be08b3f-8807-4067-93ac-af58cf7728b0-2.eot);
	src: url(/elements/font/BentonSans/BentonSansExtraComp_Medium/7be08b3f-8807-4067-93ac-af58cf7728b0-4.svg) format('svg'),
	url(/elements/font/BentonSans/BentonSansExtraComp_Medium/7be08b3f-8807-4067-93ac-af58cf7728b0-3.woff) format("woff"),
	url(/elements/font/BentonSans/BentonSansExtraComp_Medium/7be08b3f-8807-4067-93ac-af58cf7728b0-1.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: PinkSans70;
    src:url(/elements/font/PinkSans/PinkSans70/PinkSans-070.eot);
    src:url(/elements/font/PinkSans/PinkSans70/PinkSans-070.eot?#iefix) format('embedded-opentype'),
    	url(/elements/font/PinkSans/PinkSans70/PinkSans-070.ttf) format('truetype'),
		url(/elements/font/PinkSans/PinkSans70/PinkSans-070.woff) format('woff'),
		url(/elements/font/PinkSans/PinkSans70/PinkSans-070.svg#PinkSans-070) format('svg'),
		url(/elements/font/PinkSans/PinkSans70/PinkSans-070.otf) format('opentype');
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family: PinkSans100;
    src:url(/elements/font/PinkSans/PinkSans100/PinkSans-100.eot);
    src:url(/elements/font/PinkSans/PinkSans100/PinkSans-100.eot?#iefix) format('embedded-opentype'),
    	url(/elements/font/PinkSans/PinkSans100/PinkSans-100.ttf) format('truetype'),
		url(/elements/font/PinkSans/PinkSans100/PinkSans-100.woff) format('woff'),
		url(/elements/font/PinkSans/PinkSans100/PinkSans-100.svg#PinkSans-100) format('svg'),
		url(/elements/font/PinkSans/PinkSans100/PinkSans-100.otf) format('opentype');
    font-weight:bold; //Added so WCAG will read the font as bold
    font-style:normal;
}

@font-face {
    font-family: PinkSans130;
    src:url(/elements/font/PinkSans/PinkSans130/PinkSans-130.eot);
    src:url(/elements/font/PinkSans/PinkSans130/PinkSans-130.eot?#iefix) format('embedded-opentype'),
    	url(/elements/font/PinkSans/PinkSans130/PinkSans-130.ttf) format('truetype'),
		url(/elements/font/PinkSans/PinkSans130/PinkSans-130.woff) format('woff'),
		url(/elements/font/PinkSans/PinkSans130/PinkSans-130.svg#PinkSans-100) format('svg'),
		url(/elements/font/PinkSans/PinkSans130/PinkSans-130.otf) format('opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: PinkSlab70;
    src:url(/elements/font/PinkSlab/PinkSlab70/PinkSlab-070.eot);
    src:url(/elements/font/PinkSlab/PinkSlab70/PinkSlab-070.eot?#iefix) format('embedded-opentype'),
    	url(/elements/font/PinkSlab/PinkSlab70/PinkSlab-070.ttf) format('truetype'),
		url(/elements/font/PinkSlab/PinkSlab70/PinkSlab-070.woff) format('woff'),
		url(/elements/font/PinkSlab/PinkSlab70/PinkSlab-070.svg#PinkSlab-070) format('svg'),
		url(/elements/font/PinkSlab/PinkSlab70/PinkSlab-070.otf) format('opentype');
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family: PinkSlab100;
    src:url(/elements/font/PinkSlab/PinkSlab100/PinkSlab-100.eot);
    src:url(/elements/font/PinkSlab/PinkSlab100/PinkSlab-100.eot?#iefix) format('embedded-opentype'),
    	url(/elements/font/PinkSlab/PinkSlab100/PinkSlab-100.ttf) format('truetype'),
		url(/elements/font/PinkSlab/PinkSlab100/PinkSlab-100.woff) format('woff'),
		url(/elements/font/PinkSlab/PinkSlab100/PinkSlab-100.svg#PinkSlab-100) format('svg'),
		url(/elements/font/PinkSlab/PinkSlab100/PinkSlab-100.otf) format('opentype');
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family: PinkSlab130;
    src:url(/elements/font/PinkSlab/PinkSlab130/PinkSlab-130.eot);
    src:url(/elements/font/PinkSlab/PinkSlab130/PinkSlab-130.eot?#iefix) format('embedded-opentype'),
    	url(/elements/font/PinkSlab/PinkSlab130/PinkSlab-130.ttf) format('truetype'),
    	url(/elements/font/PinkSlab/PinkSlab130/PinkSlab-130.woff) format('woff'),
    	url(/elements/font/PinkSlab/PinkSlab130/PinkSlab-130.svg#PinkSlab-130) format('svg'),
    	url(/elements/font/PinkSlab/PinkSlab130/PinkSlab-130.otf) format('opentype');
    font-weight:400;
    font-style:normal;
}
@font-face {
	font-family: HarrietLight;
	src: url(/elements/font/Harriet/Harriet_Light/4ded1757-f824-4e6c-8b05-0ba6692b2477-2.eot);
	src: url(/elements/font/Harriet/Harriet_Light/4ded1757-f824-4e6c-8b05-0ba6692b2477-2.eot?) format('embedded-opentype'),
		url(/elements/font/Harriet/Harriet_Light/4ded1757-f824-4e6c-8b05-0ba6692b2477-3.woff) format('woff'),
		url(/elements/font/Harriet/Harriet_Light/4ded1757-f824-4e6c-8b05-0ba6692b2477-1.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: HarrietLightItalic;
	src: url(/elements/font/Harriet/Harriet_Light_Italic/cf5a3265-2934-43b3-9c14-6eaa3aedab73-2.eot);
	src: url(/elements/font/Harriet/Harriet_Light_Italic/cf5a3265-2934-43b3-9c14-6eaa3aedab73-2.eot?) format('embedded-opentype'),
		url(/elements/font/Harriet/Harriet_Light_Italic/cf5a3265-2934-43b3-9c14-6eaa3aedab73-3.woff) format('woff'),
		url(/elements/font/Harriet/Harriet_Light_Italic/cf5a3265-2934-43b3-9c14-6eaa3aedab73-1.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}