$fab-white: #fff;
$fab-near-white: #fbfbfb;
$fab-bg-grey: #f5f5f5;
$fab-rule-grey: #e1e1e1;
$fab-inactive-grey: #cacaca;
$fab-helper-grey: #666666;
$fab-dark-grey: #2c2c2c;
$fab-light-black: #232323;
$fab-near-black: #1f1f1f;
$fab-black: #000;
$fab-wcag-pink: #d91560;
$fab-vs-brand-pink: #ef5f96;
$fab-pink-brand-pink: #ff3399;
$fab-sport-brand-pink: $fab-wcag-pink;
$fab-vs-hover-pink: #bf215d;
$fab-pink-hover-pink: #c02974;
$fab-sport-hover-pink: $fab-vs-hover-pink;
$fab-vs-bg-pink: #fdf1f5;
$fab-pink-bg-pink: #fff0f8;
$fab-sport-bg-pink: $fab-vs-bg-pink;