$fab-ico--arrow-down: -139px -166px 8px 5px;
$fab-ico--black-arrow-right: -10px -166px 6px 10px;
$fab-ico--breadcrumb-first: -10px -80px 210px 15px;
$fab-ico--breadcrumb-second: -10px -10px 210px 15px;
$fab-ico--breadcrumb: -10px -45px 210px 15px;
$fab-ico--checkbox-mark: -103px -115px 14px 13px;
$fab-ico--checkbox: -112px -166px 7px 7px;
$fab-ico--dropdown-error: -57px -115px 27px 32px;
$fab-ico--dropdown: -10px -115px 27px 32px;
$fab-ico--minus-dark: -198px -166px 12px 2px;
$fab-ico--minus-light: -167px -166px 12px 2px;
$fab-ico--pink-arrow-right: -61px -166px 6px 10px;
$fab-ico--pink-minus: -10px -196px 11px 2px;
$fab-ico--pink-plus: -200px -115px 11px 12px;
$fab-ico--plus-dark: -137px -115px 12px 12px;
$fab-ico--plus-light: -169px -115px 12px 12px;
$fab-ico--white-arrow-right: -36px -166px 6px 10px;
$pink_fab-ico--pink-arrow-right: -87px -166px 6px 10px