// base window resolution widths
$width-extra-small: 768px;
$width-small: 944px;
$width-medium: 1180px;
$width-max-constrained: 1280px;
$width-large: 1600px;
$large-breakpoint-base: 1920;
$width-extra-large: $large-breakpoint-base + px; // 1920px

// base margin
$breakpoint-margin: 20px;

// breakpoint window widths
$breakpoint-extra-small: 768px;
$breakpoint-small: $width-small + ($breakpoint-margin * 2); // 984px
$breakpoint-checkout-medium: 1180px;
$breakpoint-medium: $width-medium + ($breakpoint-margin * 2); // 1220px
$breakpoint-large: $width-large + ($breakpoint-margin * 2); // 1640px

// module window widths
$width-module: 240px;

$width-module-3: $width-module * 3; // 720px
$width-module-4: $width-module * 4; // 960px
$width-module-5: $width-module * 5; // 1200px
$width-module-6: $width-module * 6; // 1440px
$width-module-7: $width-module * 7; // 1680px
$width-module-8: $width-module * 8; // 1920px

// breakpoint module window widths
$breakpoint-module-margin: 8px;

$breakpoint-module-4: $width-module-4 + ($breakpoint-module-margin * 2); // 976px
$breakpoint-module-5: $width-module-5 + ($breakpoint-module-margin * 2); // 1216px
$breakpoint-module-6: $width-module-6 + ($breakpoint-module-margin * 2); // 1456px
$breakpoint-module-7: $width-module-7 + ($breakpoint-module-margin * 2); // 1696px
$breakpoint-module-8: $width-module-8 + ($breakpoint-module-margin * 2); // 1936px