button {
    cursor: pointer;
    font: inherit;
}

[class*=fab-btn] {
    // When you add an svg arrow to a button auto position it.
    .arrow-icon {
        margin-top: 1px;

        &.left {
            float: left;
            margin: 1px -10px 0 10px;
        }

        &.right {
            float: right;
            margin: 1px 10px 0 -10px;
        }
    }
}

.fab-btn--primary,
.fab-btn--primary-small,
.fab-btn--primary-flex,
.fab-btn--primary-small-grey {
    @include fab-btn--primary;
}

/*Secondary Buttons*/
.fab-btn--secondary,
.fab-btn--secondary-small,
.fab-btn--secondary-xsmall,
.fab-btn--secondary-flex {
    @include fab-btn--secondary;
}

.fab-btn--secondary-small {
    @include fab-btn--secondary-small;
}

/*Flex buttons*/
.fab-btn--primary-flex,
.fab-btn--secondary-flex {
    min-width: 0;
    width: 100%;
}

/*One-off Buttons*/
.fab-btn--primary-small-grey {
    background: $fab-helper-grey;
    border-color: $fab-helper-grey;

    &:hover {
        border-color: $fab-black;
    }
}

.fab-btn--primary-black {
    @include fab-btn--primary-black;
}

.fab-btn--secondary-xsmall {
    @extend %fab-btn-3;
    min-width: 0;
    line-height: 15px;
    padding: 9px 8px 7px 10px;
}

[class*="fab-btn"].loading {
    color: transparent;
    position: relative;

    &:before {
        content: "";
        background: url("/elements/button/fab-btn-loading-white.png");
        animation: spin 1000ms step-end 0ms infinite;
        width: 26px;
        height: 26px;
        background-size: 26px;
        position: absolute;
        top: calc(50% - 13px);
        left: calc(50% - 13px);
        transform: translate(-50%, -50%);
    }

    &.fab-btn--secondary,
    &.fab-btn--secondary-small,
    &.fab-btn--secondary-xsmall,
    &.fab-btn--secondary-flex {
        &:before {
            background: url("/elements/button/fab-btn-loading-black.png");
            background-size: 26px;
        }
    }
}

/* Button Groups */
.fab-btn-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

    [class*=fab-btn] {
        flex: 1 0 0%;
        max-width: 50%;
        margin: 10px 0;
        padding: 5px 18px 4px 20px;

        &:nth-child(odd) {
            margin: 10px 15px 10px 0;
        }
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    8.33333% { transform: rotate(30deg); }
    16.66666% { transform: rotate(60deg); }
    24.99999% { transform: rotate(90deg); }
    33.33332% { transform: rotate(120deg); }
    41.66665% { transform: rotate(150deg); }
    49.99998% { transform: rotate(180deg); }
    58.33331% { transform: rotate(210deg); }
    66.66664% { transform: rotate(240deg); }
    74.99997% { transform: rotate(270deg); }
    83.3333% { transform: rotate(300deg); }
    91.66663% { transform: rotate(330deg); }
}