<h1>BUTTONS</h1>

<div>
	<button type="button" class="fab-btn--primary">Primary Button</button>
</div>
<div>
	<button type="button" class="fab-btn--secondary">Secondary Button</button>
</div>
<div>
	<button type="button" class="fab-btn--primary-small">Primary Small</button>
</div>
<div>
	<button type="button" class="fab-btn--secondary-small">Secondary Small</button>
</div>
<div>
	<button type="button" class="fab-btn--primary-black">Primary Black</button>
</div>
<div>
	<button type="button" class="fab-btn--primary-flex">Primary Flex</button>
</div>
<div>
	<button type="button" class="fab-btn--secondary-flex">Secondary flex</button>
</div>