%fab-btn {
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	text-align: center;

	&::-moz-focus-inner {
		padding: 0;
		border: 0
	}
}

%fab-btn-1 {
	@extend %fab-btn;
	font-family: BentonSansCompMedium, sans-serif;
	font-size: 19px;
	letter-spacing: .15em;
	text-transform: uppercase;
	font-weight: bold;
}

%fab-btn-2 {
	@extend %fab-btn;
	font-family: BentonSansComp, sans-serif;
	font-size: 13px;
	letter-spacing: .15em;
	text-transform: uppercase;
}

%fab-btn-3 {
	@extend %fab-btn-1;
	font-size: 13px;
}

%fab-btn-1--pink {
	@extend %fab-btn;
	font-family: PinkSans100, sans-serif;
	font-size: 20px;
	letter-spacing: .07em;
	text-transform: uppercase;
	font-weight: bold;
}

%fab-btn-2--pink {
	@extend %fab-btn;
	font-family: PinkSans100, sans-serif;
	font-size: 13px;
	letter-spacing: .07em;
	text-transform: uppercase;
}

%fab-btn-3--pink {
	@extend %fab-btn-1--pink;
	font-size: 14px;
	letter-spacing: 0.14em;
}

%fab-btn-1--sport {
	@extend %fab-btn-1;
	font-size: 18px;
}

%fab-btn-2--sport {
	@extend %fab-btn-1;
	font-size: 13px;
	letter-spacing: .07em;
	text-transform: uppercase;
}

%fab-btn-3--sport {
	@extend %fab-btn-3;
}

@mixin fab-btn--primary {
    @extend %fab-btn-1;

    .pink & {
        @extend %fab-btn-1--pink;
        line-height: 22px;
    }

    .vs-sport & {
        @extend %fab-btn-1--sport;
        line-height: 20px;
    }

    background: $fab-vs-brand-pink;
    border-color: $fab-vs-brand-pink;
    border-style: solid;
    border-width: 2px;
    color: $fab-white;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 6px 28px 4px;

    &:hover {
        border-color: $fab-vs-hover-pink;
    }
}

@mixin fab-btn--secondary {
    @extend %fab-btn-1;

    .pink & {
        @extend %fab-btn-1--pink;
        line-height: 22px;
    }

    .vs-sport & {
        @extend %fab-btn-1--sport;
        line-height: 20px;
    }

    background: $fab-white;
    border-color: $fab-black;
    border-style: solid;
    border-width: 1px;
    color: $fab-black;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 7px 28px 4px;

    &:hover {
        border-color: $fab-vs-brand-pink;
    }
}

@mixin fab-btn--secondary-small {
    @include fab-btn--secondary;
    padding: 7px 18px 4px 20px;
}

@mixin fab-btn--primary-black {
    @include fab-btn--primary;
    background: $fab-black;
    border-color: $fab-black;
    color: $fab-white;

    &:hover {
        border-color: $fab-helper-grey;
    }

    .pink & {
        @extend %fab-btn-1--pink;
        line-height: 22px;
    }

    .vs-sport & {
        @extend %fab-btn-1--sport;
        line-height: 20px;
    }
}

@mixin fab-btn--primary-black-mobile {
    @extend %fab-btn-1;
    background: $fab-black;
    border: 1px solid $fab-black;
    color: $fab-white;
    min-height: 44px;
    line-height: 21px;
    padding: 12px 28px 10px;
}

@mixin fab-btn--primary-black-pink {
    @include fab-btn--primary-black;
    @extend %fab-btn-1--pink;
    line-height: 22px;
}