@mixin respond-to($media) {
    @if $media == xSmall {
        @media (max-width: $breakpoint-extra-small - 1) { @content; }
    }
    @else if $media == small {
        @media (min-width: $breakpoint-extra-small) and (max-width: $breakpoint-medium - 1) { @content; }
    }
    @else if $media == checkoutSmall {
        @media (min-width: $breakpoint-extra-small) and (max-width: $breakpoint-checkout-medium - 1) { @content; }
    }
    @else if $media == medium {
        @media (min-width: $breakpoint-medium) { @content; }
    }
    @else if $media == checkoutMedium {
        @media (min-width: $breakpoint-checkout-medium) { @content; }
    }
    @else {
        @media (min-width: $media) { @content; }
    }
}

@mixin min-viewport($media) {
    @if $media == small {
        @media (min-width: $breakpoint-extra-small) { @content; }
    }
    @else if $media == medium {
        @media (min-width: $breakpoint-medium) { @content; }
    }
    @else if $media == checkoutMedium {
        @media (min-width: $breakpoint-checkout-medium) { @content; }
    }
    @else {
        @media (min-width: $media) { @content; }
    }
}

@mixin max-viewport($media) {
    @if $media == checkoutMedium {
        @media (max-width: $breakpoint-checkout-medium - 1) { @content; }
    }
    @else if $media == small {
        @media (max-width: $breakpoint-medium - 1) { @content; }
    }
    @else if $media == xSmall {
        @media (max-width: $breakpoint-extra-small - 1) { @content; }
    }
    @else {
        @media (max-width: $media) { @content; }
    }
}