
/* Mobile */
@mixin fab-type-h1() {
	font-family: BentonSansLight, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 21px;
	line-height: 25px;
	letter-spacing: .01em;
	text-transform: inherit;
	font-weight: normal;
}

@mixin fab-type-h2() {
	font-family: BentonSansLight, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: .02em;
	text-transform: inherit;
	font-weight: normal;
}

@mixin fab-type-h3() {
	font-family: BentonSansMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: .04em;
	text-transform: inherit;
	font-weight: normal;
}

@mixin fab-type-h4() {
	font-family: BentonSans, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: .04em;
	text-transform: inherit;
	font-weight: normal;
}

@mixin fab-type-h5() {
	font-family: BentonSansBook, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: .2em;
	text-transform: uppercase;
	font-weight: normal;
}

@mixin fab-type-h6() {
	font-family: BentonSansBook, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: .25em;
	text-transform: uppercase;
	font-weight: normal;
}

@mixin fab-type-h7($fontSize: 11px, $lineHeight: 15px, $letterSpacing: .25em) {
	font-family: BentonSansMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
	font-weight: normal;
}

@mixin fab-type-body() {
	font-family: BentonSansBook, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 11px;
	line-height: 17px;
	letter-spacing: .04em;
	text-transform: inherit;
	font-weight: normal;
}

@mixin fab-type-strong() {
	font-family: BentonSansMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 11px;
	line-height: 17px;
	letter-spacing: .04em;
	text-transform: inherit;
	font-weight: normal;
}

@mixin fab-type-small() {
	font-family: BentonSansBook, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 9px;
	line-height: 12px;
	letter-spacing: .04em;
	text-transform: inherit;
	font-weight: normal;
}

/* Mobile PINK */
@mixin fab-type-h1--pink() {
	font-family: PinkSlab130, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 30px;
	line-height: 28px;
	letter-spacing: .01em;
	text-transform: uppercase;
	font-weight: normal;
}

@mixin fab-type-h2--pink() {
	font-family: PinkSlab130, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 23px;
	line-height: 21px;
	letter-spacing: 0;
	text-transform: uppercase;
	font-weight: normal;
}

@mixin fab-type-h5--pink() {
	font-family: PinkSans100, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: .07em;
	text-transform: uppercase;
	font-weight: normal;
}

@mixin fab-type-h6--pink() {
	font-family: PinkSans100, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: .07em;
	text-transform: uppercase;
	font-weight: normal;
}


/* Desktop */
@mixin fab-type-h1--desktop($fontSize: 26px, $lineHeight: 31px, $letterSpacing: 0) {
	font-family: BentonSansLight, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: inherit;
	font-weight: normal;
}

@mixin fab-type-h2--desktop($fontSize: 22px, $lineHeight: 27px, $letterSpacing: 0) {
	font-family: BentonSansLight, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: inherit;
	font-weight: normal;
}

@mixin fab-type-h3--desktop($fontSize: 18px, $lineHeight: 22px, $letterSpacing: .04em) {
	font-family: BentonSansBook, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: inherit;
	font-weight: normal;
}

@mixin fab-type-h4--desktop($fontSize: 14px, $lineHeight: 18px, $letterSpacing: .04em) {
	font-family: BentonSans, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: inherit;
	font-weight: normal;
}

@mixin fab-type-h5--desktop($fontSize: 12px, $lineHeight: 16px, $letterSpacing: .2em) {
	font-family: BentonSansBook, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
	font-weight: normal;
}

@mixin fab-type-h6--desktop($fontSize: 11px, $lineHeight: 15px, $letterSpacing: .25em) {
	font-family: BentonSansMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
	font-weight: normal;
}

@mixin fab-type-body--desktop($fontSize: 11px, $lineHeight: 17px, $letterSpacing: .04em) {
	font-family: BentonSansBook, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: inherit;
	font-weight: normal;
}

@mixin fab-type-strong--desktop($fontSize: 11px, $lineHeight: 17px, $letterSpacing: .04em) {
	font-family: BentonSansMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: inherit;
	font-weight: normal;
}

// Tablet
@mixin fab-type-h1--tablet() {
	@include fab-type-h1--desktop(30px, 35px);
}

@mixin fab-type-h2--tablet() {
	@include fab-type-h2--desktop(25px, 29px);
}

@mixin fab-type-h3--tablet() {
	@include fab-type-h3--desktop(21px, 25px);
}

@mixin fab-type-h4--tablet() {
	@include fab-type-h4--desktop(16px, 28px);
}

@mixin fab-type-h5--tablet() {
	@include fab-type-h5--desktop(14px, 18px, .08em);
}

@mixin fab-type-h6--tablet() {
	@include fab-type-h6--desktop(14px, 18px, .2em);
}

@mixin fab-type-h7--tablet() {
	@include fab-type-h7(14px, 18px, .2em);
}

@mixin fab-type-body--tablet() {
	@include fab-type-body--desktop(14px, 22px);
}

@mixin fab-type-strong--tablet() {
	@include fab-type-strong--desktop(14px, 22px);
}

/* Desktop PINK */
@mixin fab-type-h1--pink--desktop($fontSize: 42px, $lineHeight: 39px, $letterSpacing: .05em) {
	font-family: PinkSlab130, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
	font-weight: normal;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin fab-type-h2--pink--desktop($fontSize: 30px, $lineHeight: 28px, $letterSpacing: .05em) {
	font-family: PinkSlab130, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
	font-weight: normal;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin fab-type-h5--pink--desktop($fontSize: 19px, $lineHeight: 22px, $letterSpacing: .07em) {
	font-family: PinkSans100, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
	font-weight: normal;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin fab-type-h6--pink--desktop($fontSize: 17px, $lineHeight: 20px, $letterSpacing: .07em) {
	font-family: PinkSans100, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
	font-weight: normal;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin fab-type-h1--pink--tablet {
	@include fab-type-h1--pink--desktop(48px, 46px);
}

@mixin fab-type-h2--pink--tablet {
	@include fab-type-h2--pink--desktop(34px, 32px);
}

@mixin fab-type-h5--pink--tablet {
	@include fab-type-h5--pink--desktop(22px, 24px, 0.01em);
}

@mixin fab-type-h6--pink--tablet {
	@include fab-type-h6--pink--desktop(22px, 24px, 0.01em);
}


/* Dynamic Text Feature Fonts DESKTOP */
@mixin fab-dtf--offer--vs-cta--desktop () {
	font-family: BentonSansComp, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: .12em;
	text-transform: uppercase;
	font-weight: bold;
}

/* Harriet */
@mixin fab-dtf--offer--harriet-leadin--desktop () {
	font-family: HarrietLight, serif;
	font-feature-settings: "liga" 0;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: .06em;
	font-style: italic;
	text-transform: capitalize;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin fab-dtf--offer--harriet-h1--desktop () {
	font-family: HarrietLight, serif;
	font-feature-settings: "liga" 0;
	font-size: 26px;
	line-height: 28px;
	letter-spacing: .075em;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin fab-dtf--offer--harriet-h2--desktop () {
	font-family: HarrietLight, serif;
	font-feature-settings: "liga" 0;
	font-size: 66px;
	line-height: 62px;
	letter-spacing: .075em;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin fab-dtf--offer--harriet-subtitle--desktop () {
	font-family: HarrietLight, serif;
	font-feature-settings: "liga" 0;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: .075em;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

/* Benton */
@mixin fab-dtf--offer--benton-leadin--desktop () {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 16px;
	line-height: 17px;
	letter-spacing: .12em;
	text-transform: uppercase;
}

@mixin fab-dtf--offer--benton-h1--desktop () {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 34px;
	line-height: 32px;
	letter-spacing: .07em;
	text-transform: uppercase;
}

@mixin fab-dtf--offer--benton-h2--desktop () {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 48px;
	line-height: 50px;
	letter-spacing: .08em;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin fab-dtf--offer--benton-subtitle--desktop () {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 26px;
	line-height: 27px;
	letter-spacing: .08em;
	text-transform: uppercase;
}

/* Pink */
@mixin fab-dtf--offer--pink-leadin--desktop () {
	font-family: PinkSans, serif;
	font-feature-settings: "liga" 0;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: .07em;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin fab-dtf--offer--pink-h1--desktop () {
	font-family: PinkSans, serif;
	font-feature-settings: "liga" 0;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: .07em;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin fab-dtf--offer--pink-h2--desktop () {
	font-family: PinkSans130, serif;
	font-feature-settings: "liga" 0;
	font-size: 40px;
	line-height: 35px;
	letter-spacing: .07em;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin fab-dtf--offer--pink-copy--desktop () {
	font-family: BentonSans, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 15px;
	line-height: 19px;
}

@mixin fab-dtf--offer--pink-subtitle--desktop () {
	font-family: BentonSans, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
}

@mixin fab-dtf--offer--pink-cta--desktop () {
	font-family: PinkSans, serif;
	font-feature-settings: "liga" 0;
	font-size: 19px;
	line-height: 19px;
	letter-spacing: .1em;
	margin-top: 14px;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

/* Dynamic Text Feature Fonts MOBILE */
@mixin fab-dtf--offer--vs-cta () {
	font-family: BentonSansComp, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 14px;
	line-height: 15px;
	letter-spacing: .1em;
	font-weight: bold;
	text-transform: uppercase;
}

/* Harriet */
@mixin fab-dtf--offer--harriet-leadin () {
	font-family: HarrietLight, serif;
	font-feature-settings: "liga" 0;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: .08em;
	font-style: italic;
	text-transform: capitalize;
}

@mixin fab-dtf--offer--harriet-h1 () {
	font-family: HarrietLight, serif;
	font-feature-settings: "liga" 0;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: .075em;
	text-transform: uppercase;
}

@mixin fab-dtf--offer--harriet-h2 () {
	font-family: HarrietLight, serif;
	font-feature-settings: "liga" 0;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: .075em;
	text-transform: uppercase;
}

@mixin fab-dtf--offer--harriet-subtitle () {
	font-family: HarrietLight, serif;
	font-feature-settings: "liga" 0;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: .075em;
	text-transform: uppercase;
}

/* Benton */
@mixin fab-dtf--offer--benton-leadin () {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: .12em;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin fab-dtf--offer--benton-h1 () {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: .07em;
	text-transform: uppercase;
}

@mixin fab-dtf--offer--benton-h2 () {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 28px;
	line-height: 30px;
	letter-spacing: .08em;
	text-transform: uppercase;
}

@mixin fab-dtf--offer--benton-subtitle () {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: .08em;
	text-transform: uppercase;
}

/* Pink */
@mixin fab-dtf--offer--pink-leadin () {
	font-family: PinkSans100, serif;
	font-feature-settings: "liga" 0;
	font-size: 18px;
	line-height: 19px;
	letter-spacing: .01em;
	text-transform: uppercase;
}

@mixin fab-dtf--offer--pink-h1 () {
	font-family: PinkSans100, serif;
	font-feature-settings: "liga" 0;
	font-size: 23px;
	line-height: 22px;
	letter-spacing: .01em;
	text-transform: uppercase;
}

@mixin fab-dtf--offer--pink-h2 () {
	font-family: PinkSans130, serif;
	font-feature-settings: "liga" 0;
	font-size: 26px;
	line-height: 24px;
	letter-spacing: .01em;
	text-transform: uppercase;
}

@mixin fab-dtf--offer--pink-copy () {
	font-family: BentonSansMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 13px;
	line-height: 17px;
	letter-spacing: 0.04em;
}

@mixin fab-dtf--offer--pink-subtitle () {
	font-family: BentonSansMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: .025em;
}

@mixin fab-dtf--offer--pink-cta () {
	font-family: PinkSans100, serif;
	font-feature-settings: "liga" 0;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: .07em;
	text-transform: uppercase;
}

/* Sport */
@mixin fab-type-h1--sport--desktop($fontSize: 32px, $lineHeight: 34px, $letterSpacing: .05em) {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
}

@mixin fab-type-h2--sport--desktop($fontSize: 21px, $lineHeight: 26px, $letterSpacing: .05em) {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
}

@mixin fab-type-h6--sport--desktop($fontSize: 13px, $lineHeight: 16px, $letterSpacing: .15em) {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: $fontSize;
	line-height: $lineHeight;
	letter-spacing: $letterSpacing;
	text-transform: uppercase;
	font-weight: bold;
}

@mixin fab-type-h1--sport--tablet() {
	@include fab-type-h1--sport--desktop(36px, 38px);
}

@mixin fab-type-h2--sport--tablet() {
	@include fab-type-h2--sport--desktop(25px, 30px);
}

@mixin fab-type-h6--sport--tablet() {
	@include fab-type-h6--sport--desktop(15px, 15px, .05em);
}

@mixin fab-type-h1--sport--mobile() {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 22px;
	line-height: 25px;
	letter-spacing: .05em;
	text-transform: uppercase;
	font-weight: bold;
}

@mixin fab-type-h2--sport--mobile() {
	font-family: BentonSansCompMedium, sans-serif;
	font-feature-settings: "liga" 0;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: .05em;
	text-transform: uppercase;
	font-weight: bold;
}
