$fab-accordion-transition-speed: 500ms;

.fabric-c-accordion {
	border-bottom: 1px solid $fab-rule-grey;

	&.open,
	&.accordion-opening {
		.fabric-c-accordion_content {
			display: block;
		}
	}

	@at-root &__header {
		width: 100%;
		box-sizing: border-box;
		text-align: left;
		position: relative;
		outline: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 45px;
		line-height: inherit;
		letter-spacing: inherit;

		@include max-viewport(xSmall) {
			padding: 20px 10px;
		}

		@at-root &--title {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			align-self: flex-start;
			font: 20px/20px BentonSansCompMedium, sans-serif;
		}

		@at-root &--icon {
			clear: both;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			width: 12px;

			@include max-viewport(xSmall) {
				right: 10px;
			}

			&.opened {
				display: none;
			}

			.open & {
				&.opened {
					display: block;
				}

				&.closed {
					display: none;
				}
			}
		}
	}

	@at-root &__content {
		display: none;
		overflow: hidden;
		padding: 0 10px 20px;
	}
 }

 .fabric-accordion {
	 border-bottom: 1px solid $fab-rule-grey;

	&.open,
	&.accordion-opening {
		.content {
			display: block;
		}
	}

	@at-root .accordion-header {
		width: 100%;
		box-sizing: border-box;
		text-align: left;
		position: relative;
		outline: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 45px;
		line-height: inherit;
		letter-spacing: inherit;

		@include max-viewport(xSmall) {
			padding: 20px 10px;
		}

		.title {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			align-self: flex-start;
			font: 20px/20px BentonSansCompMedium, sans-serif;
		}

		.icon {
			clear: both;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			width: 12px;

			@include max-viewport(xSmall) {
				right: 10px;
			}

			&.opened {
				display: none;
			}

			.open & {
				&.opened {
					display: block;
				}

				&.closed {
					display: none;
				}
			}
		}
	}

	@at-root .accordion-content {
		display: none;
		overflow: hidden;
		padding: 0 10px 20px;
	}
 }


/*------------------------------------*\ 
    # Component Name
\*------------------------------------*/

 .fabric-accordion {
	 .header {
		 /* styles */
	 }

	 .content {
		 /* styles */
	 }
 }

 [fabric-accordion] {
	 border-bottom: 1px solid $fab-rule-grey;

	 [fabric-accordion-header] {
		width: 100%;
		box-sizing: border-box;
		text-align: left;
		position: relative;
		outline: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 45px;
		line-height: inherit;
		letter-spacing: inherit;

		@include max-viewport(xSmall) {
			padding: 20px 10px;
		}

		[fabric-accordion-title] {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			align-self: flex-start;
			font: 20px/20px BentonSansCompMedium, sans-serif;
		}

		[fabric-accordion-icon] {
			clear: both;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			width: 12px;

			@include max-viewport(xSmall) {
				right: 10px;
			}

			[fabric-accordion-icon~="opened"] {
				display: none;
			}

			.open & {
				[fabric-accordion-icon~="opened"] {
					display: block;
				}

				[fabric-accordion-icon~="closed"] {
					display: none;
				}
			}
		}
	 }

	 [fabric-accordion-content] {
		display: none;
		overflow: hidden;
		padding: 0 10px 20px;
	 }
 }