<h1>ACCORDIONS</h1>

<h2>Base</h2>
<div class="fabric-accordion">
	<button type="button" class="accordion-header" aria-expanded="true">
		<h3 class="title">TEST ACCORDION</h3>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" class="icon opened"><path d="M0 12v-2h22v2H0z"/></svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" class="icon closed"><path d="M12 12v10h-2V12H0v-2h10V0h2v10h10v2H12z"/></svg>
	</button>

	<div class="accordion-content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod nisl erat, ut fermentum ipsum fringilla at. Vivamus ultrices lacus vel dolor consectetur finibus. In finibus metus in feugiat pellentesque. Morbi egestas sit amet velit non rutrum. Aenean dignissim a urna in pulvinar. Curabitur sed faucibus leo. Donec ultricies eget velit mollis cursus. Proin eget vestibulum purus, eget commodo mauris. Aliquam venenatis mollis metus, ut varius velit. Nam commodo nulla quis ligula lobortis feugiat tincidunt vitae erat. Ut vitae orci ut ligula vestibulum maximus quis id enim. Mauris sapien risus, convallis in finibus in, accumsan nec justo. Mauris metus mi, blandit sed felis ac, blandit dapibus libero. Sed feugiat purus vel lectus ultrices, quis pulvinar ligula rhoncus. Phasellus faucibus laoreet ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
		<p>Vestibulum pulvinar eget ante ac tempus. Maecenas molestie nisi nec justo accumsan aliquet. Vestibulum viverra ac nibh a sollicitudin. Nullam vitae vulputate dui. Proin suscipit elit non vehicula bibendum. Aliquam ac porttitor lorem, id egestas eros. Sed feugiat ex leo, ac aliquet lacus efficitur vitae. Ut ullamcorper dapibus semper. Nulla viverra neque quis arcu dignissim rhoncus. Duis commodo neque a dui faucibus porta. Proin varius consectetur enim, non maximus mi dignissim in. Aenean magna massa, fringilla eu tincidunt et, egestas et mi. Mauris posuere ante nec velit dapibus efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vulputate orci ex, fringilla rhoncus erat hendrerit sit amet.</p>
		<p>Vestibulum auctor eros eu tempus mollis. Nullam vehicula neque vel risus posuere, et pellentesque nulla molestie. Morbi vel nulla eget orci euismod vehicula. Quisque luctus eget ligula vel convallis. In a ante a felis molestie tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum posuere mattis rutrum. In lacinia nisl quis massa lobortis mollis. Sed scelerisque in ante sed congue. Sed placerat, orci in dictum fringilla, nulla orci maximus dui, sed scelerisque tortor ante eget eros. Nullam quis orci tincidunt nunc tempor rhoncus sit amet imperdiet urna.</p>
		<p>Proin quis elit erat. Aenean convallis felis augue, ac feugiat tortor facilisis id. Sed fermentum ullamcorper urna, in condimentum turpis maximus sed. Maecenas eget nulla at velit venenatis consequat sit amet lobortis sapien. Donec tristique urna sapien, non molestie enim ultrices consequat. Vestibulum vitae rutrum enim. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
	</div>
</div>

<h2>BEM</h2>
<div class="fabric-c-accordion">
	<button type="button" class="fabric-c-accordion__header" aria-expanded="true">
		<h3 class="fabric-c-accordion__header--title">TEST ACCORDION</h3>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" class="fabric-c-accordion__header--icon open"><path d="M0 12v-2h22v2H0z"/></svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" class="fabric-c-accordion__header--icon closed"><path d="M12 12v10h-2V12H0v-2h10V0h2v10h10v2H12z"/></svg>
	</button>

	<div class="fabric-c-accordion__content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod nisl erat, ut fermentum ipsum fringilla at. Vivamus ultrices lacus vel dolor consectetur finibus. In finibus metus in feugiat pellentesque. Morbi egestas sit amet velit non rutrum. Aenean dignissim a urna in pulvinar. Curabitur sed faucibus leo. Donec ultricies eget velit mollis cursus. Proin eget vestibulum purus, eget commodo mauris. Aliquam venenatis mollis metus, ut varius velit. Nam commodo nulla quis ligula lobortis feugiat tincidunt vitae erat. Ut vitae orci ut ligula vestibulum maximus quis id enim. Mauris sapien risus, convallis in finibus in, accumsan nec justo. Mauris metus mi, blandit sed felis ac, blandit dapibus libero. Sed feugiat purus vel lectus ultrices, quis pulvinar ligula rhoncus. Phasellus faucibus laoreet ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
		<p>Vestibulum pulvinar eget ante ac tempus. Maecenas molestie nisi nec justo accumsan aliquet. Vestibulum viverra ac nibh a sollicitudin. Nullam vitae vulputate dui. Proin suscipit elit non vehicula bibendum. Aliquam ac porttitor lorem, id egestas eros. Sed feugiat ex leo, ac aliquet lacus efficitur vitae. Ut ullamcorper dapibus semper. Nulla viverra neque quis arcu dignissim rhoncus. Duis commodo neque a dui faucibus porta. Proin varius consectetur enim, non maximus mi dignissim in. Aenean magna massa, fringilla eu tincidunt et, egestas et mi. Mauris posuere ante nec velit dapibus efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vulputate orci ex, fringilla rhoncus erat hendrerit sit amet.</p>
		<p>Vestibulum auctor eros eu tempus mollis. Nullam vehicula neque vel risus posuere, et pellentesque nulla molestie. Morbi vel nulla eget orci euismod vehicula. Quisque luctus eget ligula vel convallis. In a ante a felis molestie tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum posuere mattis rutrum. In lacinia nisl quis massa lobortis mollis. Sed scelerisque in ante sed congue. Sed placerat, orci in dictum fringilla, nulla orci maximus dui, sed scelerisque tortor ante eget eros. Nullam quis orci tincidunt nunc tempor rhoncus sit amet imperdiet urna.</p>
		<p>Proin quis elit erat. Aenean convallis felis augue, ac feugiat tortor facilisis id. Sed fermentum ullamcorper urna, in condimentum turpis maximus sed. Maecenas eget nulla at velit venenatis consequat sit amet lobortis sapien. Donec tristique urna sapien, non molestie enim ultrices consequat. Vestibulum vitae rutrum enim. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
	</div>
</div>

<h2>AMCSS</h2>
<div fabric-accordion>
	<button type="button" aria-expanded="true" fabric-accordion-header>
		<h3 fabric-accordion-title>TEST ACCORDION</h3>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" fabric-accordion-icon="opened"><path d="M0 12v-2h22v2H0z"/></svg>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" fabric-accordion-icon="closed"><path d="M12 12v10h-2V12H0v-2h10V0h2v10h10v2H12z"/></svg>
	</button>

	<div fabric-accordion-content>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod nisl erat, ut fermentum ipsum fringilla at. Vivamus ultrices lacus vel dolor consectetur finibus. In finibus metus in feugiat pellentesque. Morbi egestas sit amet velit non rutrum. Aenean dignissim a urna in pulvinar. Curabitur sed faucibus leo. Donec ultricies eget velit mollis cursus. Proin eget vestibulum purus, eget commodo mauris. Aliquam venenatis mollis metus, ut varius velit. Nam commodo nulla quis ligula lobortis feugiat tincidunt vitae erat. Ut vitae orci ut ligula vestibulum maximus quis id enim. Mauris sapien risus, convallis in finibus in, accumsan nec justo. Mauris metus mi, blandit sed felis ac, blandit dapibus libero. Sed feugiat purus vel lectus ultrices, quis pulvinar ligula rhoncus. Phasellus faucibus laoreet ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
		<p>Vestibulum pulvinar eget ante ac tempus. Maecenas molestie nisi nec justo accumsan aliquet. Vestibulum viverra ac nibh a sollicitudin. Nullam vitae vulputate dui. Proin suscipit elit non vehicula bibendum. Aliquam ac porttitor lorem, id egestas eros. Sed feugiat ex leo, ac aliquet lacus efficitur vitae. Ut ullamcorper dapibus semper. Nulla viverra neque quis arcu dignissim rhoncus. Duis commodo neque a dui faucibus porta. Proin varius consectetur enim, non maximus mi dignissim in. Aenean magna massa, fringilla eu tincidunt et, egestas et mi. Mauris posuere ante nec velit dapibus efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vulputate orci ex, fringilla rhoncus erat hendrerit sit amet.</p>
		<p>Vestibulum auctor eros eu tempus mollis. Nullam vehicula neque vel risus posuere, et pellentesque nulla molestie. Morbi vel nulla eget orci euismod vehicula. Quisque luctus eget ligula vel convallis. In a ante a felis molestie tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum posuere mattis rutrum. In lacinia nisl quis massa lobortis mollis. Sed scelerisque in ante sed congue. Sed placerat, orci in dictum fringilla, nulla orci maximus dui, sed scelerisque tortor ante eget eros. Nullam quis orci tincidunt nunc tempor rhoncus sit amet imperdiet urna.</p>
		<p>Proin quis elit erat. Aenean convallis felis augue, ac feugiat tortor facilisis id. Sed fermentum ullamcorper urna, in condimentum turpis maximus sed. Maecenas eget nulla at velit venenatis consequat sit amet lobortis sapien. Donec tristique urna sapien, non molestie enim ultrices consequat. Vestibulum vitae rutrum enim. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
	</div>
</div>