/* reset styling */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
input,
textarea,
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6
p,
ol,
ul {
    margin: 0;
    padding: 0;
}
li {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}
strong {
    font-weight: bold;
}
a,
button {
    color: inherit;
}
a {
    text-decoration: none;
}
button {
    border: 0;
    background: none;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
::-webkit-inner-spin-button, 
::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}
input[type=number],
input[type=date] {
    -moz-appearance: textfield;
}
input::-ms-clear,
select::-ms-expand {
    display: none;
}